PORT=3000
CORS_ORIGINS=http://localhost:5173
DATABASE_URL=
JWT_SECRET=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
JWT_ACCESS_COOKIE_NAME=access_token
JWT_REFRESH_COOKIE_NAME=refresh_token
THROTTLE_TTL_MS=60000
THROTTLE_LIMIT=100
UPSTASH_REDIS_REST_URL="https://blessed-troll-68655.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAQwvAAIncDI4OTcxNTFlZTZhMmY0YTY0YTU5NTdlMTUyY2QzZDcxMXAyNjg2NTU"